# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# server uploads and runtime files
/server/uploads/
/client/dist/
/client/node_modules/
/server/node_modules/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
